<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Tharusha Kavinda</h1>
        <h3>Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/tharusha-kavinda-295392223/" target="_blank" class="">
            <img src="li.png" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="https://web.facebook.com/tharusha.kavinda.3" target="_blank" class="">
            <img src="fb.png" width="24" height="24" class="rounded-circle me-2"> 
        </a>
        <a href="https://www.youtube.com/@tkaproducts" target="_blank" class="">
            <img src="yt.png" width="24" height="24" class="rounded-circle me-2">  
        </a>
        <a href="https://github.com/TharushaK01" target="_blank" class="">
            <img src="git.png" width="24" height="24" class="rounded-circle me-2">
        </a>

    </div>
</div>
