<div class="container text-center">
    <button (click)="DownloadFile()"  class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">

        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience">

                <div style="text-align: left;">
                    <h2 class="mb-0">Graphic Designer</h2>
                    <h1 class="text-primary"> Infinity Journery Advisor</h1>
                    <ul>
                        <li>Making Social Media post</li>
                        <li>Mange Social Media Profiles</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Graphic Designer</h2>
                    <h1 class="text-primary"> TKA Products</h1>
                    <ul>
                        <li>Making Social Media post</li>
                        <li>Mange Social Media Profiles</li>
                    </ul>
                </div>
    
            </accordion-group>
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h2 class="mb-0">Bachelor's of Science in Computer Science</h2>
                    <h1 class="text-primary"> Sabaragamuwa University of Sri Lanka</h1>
                    <ul>
                        <li>Graduated in Nov 2024</li>
                        <li>Graduated with a 3.0 GPA</li>
                        <li>Editor in Innovator's Club of SUSL-Applied Science</li>
                    </ul>
                </div>
    
            </accordion-group>
            <accordion-group heading="Certification">
    
            </accordion-group>
            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Programing Language:</h3>
                        <ul>
                            <li>C#</li>
                            <li>TypeScript</li>
                            <li>Python</li>
                            <li>Java</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Framework:</h3>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Node.Js</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <li>Source Control via Git</li>
                            <li>Agile Development</li>
                        </ul>
                    </div>
                </div>
    
            </accordion-group>
        </accordion>



    </div>
    
</div>
