<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="01.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
               <p align="justify">
                Experienced Angular Developer with a strong background in building dynamic, responsive web applications. Proficient in TypeScript and JavaScript, skilled in designing and implementing user-friendly interfaces, and adept at integrating RESTful APIs. Passionate about creating high-quality, scalable, and maintainable code to deliver exceptional user experiences. Always eager to learn and adopt new technologies to enhance development efficiency and product quality</p>
            </div>
        </div>
        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
           <h2>Featured Projects</h2>
           
           </div>
           <carousel>
            <div class="picture"> 
            <slide><img src="02.png" alt="slide" style="display: block; width: 100%;"></slide>
            <slide><img src="03.png" alt="slide" style="display: block; width: 100%;"></slide>
            
            </div>
        </carousel>
        <div class="text-center">
            <p>Here are the projects I have built, featuring responsive and user-friendly interfaces. Please check them out on my GitHub repositories.</p>
        </div>
        </div>
    </div>
</div>
